{% extends 'navigationbar.html' %}
{% load static %}
{% block body %}
<div class="container" style="margin-top:50px ;">
    	<h2 class="text-center">Add Doctor</h2>
        <br><br>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Doctor Name</label>
                <input type="text" class="form-control" id="username" name="name" required>
            </div>
            <div class="mb-3">
             <label for="contact" class="form-label">Contact</label>
                 <input type="text" class="form-control" id="contact" name="contact" required>
            </div>

            <div class="mb-3">
                <label for="special" class="form-label">Specialization</label>
                <input type="text" class="form-control" id="special" name="special" required>
            </div>
            <button type="submit" value="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


{% if error == 'no' %}
<script>
    alert('Record Saved successfully');
    window.location = "{% url 'view_doctor' %}";
</script>
{% endif %}

{% if error == 'yes' %}
<script>
    alert('Something went wrong, Try again');
</script>
{% endif %}



{% endblock%}